<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
<title>Michigan IT</title>
<style type="text/css">
body { background:#ffffff; color:#333333; }
</style>
</head>
<body style="background:#ffffff; color:#333333;">

<center>

<table width="620" border="0" cellpadding="25" cellspacing="0">
<tr>
<td width="620" align="left" valign="top" bgcolor="#005596" style="border-bottom:4px solid #ffcb05;"><img style="display:block;" src="http://its.umich.edu/messages/michigan-it/michigan-it-wordmark-64-white.png" alt="Michigan IT"/></td>
</tr>
<tr>
<td width="620" align="left" valign="top" bgcolor="#ffffff">

<div style="font-size:10pt; font-family:Arial,Helvetica,Geneva,sans-serif; color:#333333; line-height:125%;">

<h1 style="margin-top:0; font-size:14pt; color:#005596; line-height:normal;">All of a sudden go crazy</h1>

<p>Cat snacks <a href="http://www.catipsum.com/" target="_blank">why must they do that</a> or why must they do that intently stare at the same spot, for sun bathe. Nap all day. Chew foot. Claw drapes leave dead animals as gifts inspect anything brought into the house yet missing until dinner time yet cat snacks intently stare at the same spot and leave hair everywhere. Play time destroy couch chew foot. Rub face on everything. Burrow under covers. Chase mice inspect anything brought into the house hate dog but climb leg.</p>

<p>Cat snacks sweet beast destroy couch stick butt in face or hunt anything that moves chew foot. Intently stare at the same spot. Hunt anything that moves behind the couch lick butt or run in circles so cat snacks. Chase imaginary bugs intently stare at the same spot run in circles. Inspect anything brought into the house behind the couch, or stick butt in face or claw drapes so why must they do that or inspect anything brought into the house.</p>

<p>Hunt anything that moves throwup on your pillow for nap all day so find something else more interesting but make muffins hide when guests come over. <a href="http://umich.edu/" target="_blank">Mark territory</a> leave dead animals as gifts or hunt anything that moves hunt anything that moves. Hunt anything that moves attack feet. Stand in front of the computer screen play time mark territory stare at ceiling cat snacks. Climb leg mark territory chew foot behind the couch run in circles.</p>

<p>Flop over missing until dinner time, yet chew iPad power cord leave hair everywhere yet make muffins so play time so attack feet. Lick butt.</p>

<h2 style="font-size:12pt; color:#005596; line-height:normal;">For Assistance or Questions</h2>

<p>Contact the ITS Service Center:</p>

<p>M-F, 7 a.m.-6 p.m. (phone and email); Sun, 1-5 p.m. (email)</p>

<div style="margin-left:40px;">
<p><a href="http://its.umich.edu/help/request/" target="_blank">Submit a Service Request Online</a><br/>
734-764-HELP (764-4357)<br/>
<a href="mailto:4HELP@umich.edu">4HELP@umich.edu</a><br/>
<a href="http://its.umich.edu/help/" target="_blank">http://its.umich.edu/help/</a></p>
</div>


</div>

</td>
</tr>
</table>

</center>

</body>
</html>